<div class="chart-container">
  <div style="display: block">
    <canvas
      baseChart
      width="500"
      height="300"
      [datasets]="data"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="colors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>

  <button mat-raised-button color="primary" (click)="changeColor()">
    Recolor
  </button>
  <button mat-raised-button color="primary" (click)="changeData()">
    Randomize
  </button>
  <button mat-raised-button color="primary" (click)="changeType()">
    Change type
  </button>
  <!--
  <div>
    <button mat-raised-button color="primary" (click)="hideOne(0)">
      Hide 1
    </button>
    <button mat-raised-button color="primary" (click)="hideOne(1)">
      Hide 2
    </button>
    <button mat-raised-button color="primary" (click)="hideOne(2)">
      Hide 3
    </button>
    <button mat-raised-button color="primary" (click)="sortChart()">
      Sort
    </button>
  </div>
  -->
</div>
