.example-card {
  max-width: 400px;
}

@media (min-width: 992px) {
  mat-grid-tile {
    width: 33.33%;
  }
}
/*tablet*/
@media (max-width: 991px) and (min-width: 768px) {
  #sec-1,
  #sec-2 {
    width: 50%;
  }
  #sec-3 {
    width: 100%;
  }
}

/*mobile*/
@media (max-width: 767px) {
  mat-grid-list {
    flex-wrap: wrap;
  }
}
